.login {
    background-color: #f7f7f9;
    padding: 60px;    
    display: flex;
    font-family: 'Nanum Gothic';
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.loginForm {
    background-color: white;
    margin: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    border-radius: 15px;
    padding-bottom: 5px;

}

.loginGrupImg {
    width: 170px;
    display: flex;
    margin: 20px 20px 30px 20px;
}

.loginForm input {

    border: none;
    box-shadow: 2px 2px 6px 2px rgba(68, 68, 68, .08);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 80%;
    font-size: 20px;
}

p {
    text-align: center;
}

.loginButton {
    width: 50%;
    justify-content: center;
    font-size: 20px;
    display: flex;
    margin-top: 80px;
    background-color: #C9E4C5;
  
    
}

.loginButton:hover{
    background-color: white;
    border: none;
}

.signInPage{
    font-size: 18px;
}
.signInPage:hover{
    font-weight: 900;
}
.login a{
    text-decoration: none;
    color: black;
}

.modal{
    display: flex;
    width: 60%;
    margin: auto;
    padding: 20px; /* 내용과 모달 경계 간격 조절 */
    box-sizing: border-box;
    background-color: white;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    border:2px solid  #e9e9e9;
    border-radius: 5px;
    justify-content: space-around;

}
