.recommendStartMain2 {
    background-color: white;
    margin: 20px;
    padding: 50px 10px;
    align-items: stretch;
    width: 60%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.team-member {
    background-color: #F0FDEE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.memberPosition{
    font-size: 15px;
    color: #747474;
    margin: 5px;
}
.team-member h2 {
    margin-top: 0;
    color: #333;
    margin: 5px;
    font-weight: 700;
}

.memberPosition1 {
    color: #747474;
    margin: 5px;
    font-size: 21px;
}

.team-member a {
    color: #c0eb75;
    text-decoration: none;
    font-weight: bold;

    font-size: 21px;
}



.introduceImg{
    width: 70%;
}