.team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: #f7f7f9;
    padding: 60px;    
    text-align: center;
    padding: 20px;
    font-family: 'Nanum Gothic'
}
  
.team-grid {

    background-color: white;
    margin: 20px;
    display: flex;
    align-items: center;
    width: 90%;
    border-radius: 15px;
    justify-content: center;

}
  
.team-member {
    background-color: #F0FDEE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 20px;
}
  
.team-member h2 {
    margin-top: 0;
    color: #333;
    margin: 5px;
}
  
.team-member p {
    color: #555;
    margin: 0;
    font-size: 21px;
}
  
.team-member a {
    color: #c0eb75;
    text-decoration: none;
    font-weight: bold;
    
    font-size: 21px;
}
.IntroduceJOONGBUImg{
    text-align: center;
    position: relative;

    width: 40%;
}