.mainPageOption {
    display: flex;
    flex-direction: column;
}

.mainImg{
    width: 100%;
    margin-top: 10px;
}

.mainRecommend{
    background-color: #E9F6CF;
}

.mainCrawling{
    background-color: #00525F;
}

.bigString{
    font-family: 'Merriweather', serif;
    font-size: 80px;
    margin-top: 10px;
}