.recommend {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    background-color: #f7f7f9;
    padding: 60px;    
    font-family: 'Merriweather';
    
}

.recommendMain{
    background-color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    width: 90%;
    border-radius: 15px;
}

.questionNumber {
    font-size: 50px;
    color: #c0eb75;
    margin-top: 15px;
}

.recommendQuestion {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recommendAnswerList {
    margin: auto;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.recommendAnswer {
    width: 100%;
    margin: 10px;
}

.answerButton {
    background-color: #c0eb75;
    border-radius: 50px;
    width: 500px;
    height: 50px;
    border-style: none;
    margin-top: 10px;

}


.submitButton:hover {
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
    border: solid #e9e9e9;
}

.submitButton {
    width: 200px;
    border-style: none;
    border-radius: 50px;
    background-color: #e9e9e9;
    
    margin-bottom: 30px;
}