.footerExplain{
    /* background-color: #184914; */
    background-color: #2F4858;
    background-color: #198754;
    background-color: #C9E4C5;
    padding: 10px 0;
    
    flex-direction: row;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerJoongbu{
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
}

.footerJOONGBUImg{
    width: 200px;
}